/**** Tienda ****/

.main-tienda .card, .card-header{
    border:none;
    background-color: white;
}

.main-tienda .card a, .card-header a{
    text-decoration: none;
    color: #161616;
}

.main-tienda .card-header{
    padding:.6rem;
}

.main-tienda .card-header a:before{
    content:'▼';
    display: inline;
    color: rgb(252,216,22);
}

.page-link{
    border:none;
}

.produc .item:hover{
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem .2rem #e3e3e3 , -.2rem -.2rem .2rem #e3e3e3, -.2rem .2rem .2rem #e3e3e3, .2rem -.2rem .2rem #e3e3e3;
}

.fav{
    display: none;
}
.fav:hover {
    color:red;
}
.produc .item:hover .fav{
    display: inline-block;
    color:red;
}

.hov-bici:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 5.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-acce:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 10.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-part:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 4.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-cubrt:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 9.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}
