

.header{
    background-color:white;/*rgb(255, 217, 0);*/
}


.header-contacto {

 background: url("../img/HEADERS DE SECCION/AGUA.jpeg") fixed center no-repeat;
 background-size: cover;
 height: 30vh;
}

section.servicios {
background-color:white;/*rgb(255, 217, 0);*/

}

section.servicios .elServicio{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:white;/*rgb(255, 217, 0);*/
    margin-bottom: 20px;
}

#mapa {
    margin-top: 50px;
    position: relative;
    padding-bottom: 51%;
    height: 0;
    overflow: hidden;
    }

#mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
#formulario{

}

.btn{
    background-color: rgb(255, 217, 0);
}

@media (max-width:640px) and (orientation: landscape) {
  .header-usuario {
   height: 50vh;
  }
  .usuario{
    height: 20vh;
  }
  .usuario_col{
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:1024px) and (orientation: landscape) {
  .header-usuario {
   height: 50vh;
  }
  .usuario_col{
    width: 100%;
  }
}

@media (max-width:768px){
  .logo-navbar{
  }
  .header-usuario {
   height: 30vh;
  }
}
