.card, .card-header{
    border:none;
    background-color: white;
}

.card a, .card-header a{
    text-decoration: none;
    color: #161616;
}

.card-header{
    padding:.6rem;
}

.card-header a:before{
    content:'▼';
    display: inline;
    color: rgb(252,216,22);
}

.page-link{
    border:none;
}

.produc .card:hover{
	border: 1px solid rgb(235,235,235);
}

.fav{
    display: none;
}
.fav:hover {
    color:red;
}
.produc .card:hover .fav{
	display: inline-block;
}


.produc .card .card-header{
	border:none;
}

.hov-bici:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 5.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-acce:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 10.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-part:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 4.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

.hov-cubrt:hover:after{
    content:'';
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/ICONOS/SVG/SVG/Recurso\ 9.svg) no-repeat;
    position: absolute ;
    margin-left: 1rem;
}

/** Footer**/

footer ul li{
    list-style-type:none;
}

footer ul li a{
    text-decoration: none;
    color:white;
}

.ul-redes li{
    display: inline;
}
