body{

    /*background-image: url("../img/HEADERS DE SECCION/CUBIERTAS.jpg");
    background-position: center center;
    background-size: cover;

margin:0;*/


margin:0;
}
header{



}
nav.navbar {
    /*background-color: #white;
    color: #black;*/

}

nav.navbar img{
    height: 60px;
    width: 150px;

}



/*article.imagen {
    text-align: right;

    max-width: 900px;
    height: 200px;
    max-width: 900px;
    margin: 0 auto;

    background-image: url("../img/HEADERS DE SECCION/CUBIERTAS.jpg");


    background-position: center center;
    background-size: cover;



}*/
article.imagen{
 background-image: url("../img/HEADERS DE SECCION/CUBIERTAS.jpg");
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 max-width: 1080px;
 height: 200px;

 margin: 0 auto;


}





article.imagen h2{

    text-align: left;
    font-weight:bold;


}



article h2{
    text-align: center;
    color: #black;    /*#E9531D*/
    /*#FFD900*/

}





div.container a{

    color: black;

}

.titulo{
    /*margin-top: 60px;


}



.card{
    opacity: 0.8;

}

/*#acordion{
    border: #FFD900 5px solid;

}*/

div.card{
    margin-bottom: 5px;


}

.card-block{
    text-align: center;
    background-color: #e4e4e4 ;
}

.card-header a{
    color: black;
    font-weight: 600;
}
