/** Body **/
.bg-logreg {
    background-image: url("../img/HEADERS DE SECCION/REPUESTOS.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

/** Form **/

.ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.reset-pass a{
    font-size: 12px;
    text-align: right;
}
.reset-pass a:hover{
    color: rgb(252,216,22);
}
.btn:hover{
    background-color: rgb(252,216,22);
}

/** Form Registro **/

.form-registro{
    background-color:rgb(3,3,4,.8);
    box-shadow: 10px 10px rgba(252, 216, 22,.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.label-aviso::after{
    content:'*';
    color: red;
}

.form-min{
    min-width: 250px;
}