.card, .card-header{
    border:none;
    background-color: white;
}

.card a, .card-header a{
    text-decoration: none;
    color: #161616;
}

.card-header{
    padding:.6rem;
}

.card-header a:before{
    content:'▼';
    display: inline;
    color: rgb(252,216,22);
}

.page-link{
    border:none;
}

.produc .card:hover{
	border: 1px solid rgb(235,235,235);
}

.produc .card .card-header{
	border:none;
}