.noe-black{
  background-color: rgb(20, 20, 20);
}

.header-usuario img{
  width: 100%,
}

.usuario{
  background-color: rgba(255, 255, 255);
  height: 40vh;
}

.foto{
  background-image: url("../img/ICONOS/huella_2.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.descripcion p{
  font-size: 1rem;
}

.detalles li{
  overflow: hidden;
}

.detalles h5{
  float: left;
}

.detalles p{
  float: left;
}

.slide-usuario{
  height: 40vh;
}

.noe-yellow{
  background-color: rgb(255, 217, 0);
}

.noe-black{
  background-color: rgb(20, 20, 20)
}


footer ul li{
    list-style-type:none;
}

footer ul li a{
    text-decoration: none;
    color:white;
}

.ul-redes li{
    display: inline;
}

@media (max-width:640px) and (orientation: landscape) {
  .header-usuario {
   height: 50vh;
  }
  .usuario{
    height: 20vh;
  }
  .usuario_col{
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:1024px) and (orientation: landscape) {
  .header-usuario {
   height: 50vh;
  }
  .usuario_col{
    width: 100%;
  }
}

@media (max-width:768px){
  .logo-navbar{
  }
  .header-usuario {
   height: 30vh;
  }
}
