/** Body **/
.body-login1 {
    background-image: url("../img/HEADERS DE SECCION/REPUESTOS.jpg");
    background-position: center center;
    background-size: cover;
}

/** Form **/
.login-container{
    margin-top: 4%;
    margin-bottom: 4%;
}
.login-form{
    padding: 5%;
    background: rgb(3,3,4,.8);
    border: 2px solid white;
    border-radius: 2rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container form{
    padding: 10%;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.reset-pass a{
    font-size: .8rem;
    text-align: right;
}
.reset-pass a:hover{
    color: rgb(252,216,22);
}

.btn:hover{
    background-color: #d8d08f;
}

/***** HOME *****/


/*** nav ***/

.header-nav-top a.nav-link {
    font-size: 0.7em;
    inline-size: auto;
    color: #9999;
    font-weight: normal;
    position: relative;
    line-height: 25px;
    padding: 0px 6px 0px 0px;
    text-transform: uppercase;
}
/**** NAV ****/
.nav-link , a.dropdown-toggle{
    text-transform: uppercase;
    text-decoration: none;

}
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 0%;
}
a.search , a.bag {
    padding: 0px 15px;
}

/*** seccion productos ***/
.section-productos{
background-color: #fff;
padding-top: 15px;
padding-bottom: 30px;
}
.nuestras-bicis {
    padding-bottom: 20px;
    margin: auto;
}
.estilos-bici{
    background-color: rgba(255, 217, 0, 0.73) ;
    color: black;
}

h3 {
    font-size: medium;
}
/*** footer ***/
footer {
    background-color: rgba(255, 255, 255, 0.5);
}
footer h4 {
    color: black;
    font-size: large;
}
.atencion-clientes li a, .atencion-clientes ul, .redes, .redes ul, li, .btn {
text-decoration: none;
color: black;
list-style: none;
}

footer .row{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
.atencion-clientes {
    line-height: 2;
}
.redes a{
    padding: 10px;
}
