body{

    /*background-image: url("../img/HEADERS DE SECCION/CUBIERTAS.jpg");
    background-position: center center;
    background-size: cover;

margin:0;*/



margin:0;
}



.header-contacto {

 /*background: url("../img/HEADERS DE SECCION/AGUA.jpeg") fixed center no-repeat;*/
 /*background: url("https://www.cube-bikes.ca/uploads/4/5/2/6/45264105/253100-d-3_orig.jpg") fixed center no-repeat;*/
 background: url("../img/HEADERS DE SECCION/HeaderFaq.jpg") fixed center no-repeat;

 background-size: cover;
 height: 30vh;
}





.card-block {

    text-align: center;
    padding: 15px;
}


article h2{
    text-align: center;
    color: black;    /*#E9531D*/
    /*#FFD900*/

}



.card-header a{
    color: black;
    font-weight: 600;
}

/** Footer**/

footer ul li{
    list-style-type:none;
}

footer ul li a{
    text-decoration: none;
    color:white;
}

.ul-redes li{
    display: inline;
}
