.noe-yellow{
  background-color: rgb(255, 217, 0);
}

.noe-black{
  background-color: rgb(20, 20, 20);
}

.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: rgb(0, 0, 0);
    outline: 0px
}

.form-control {
    border: 1px solid rgb(255, 217, 0)
}

.producto{
  border-color: none;
}

.producto a{
  color:inherit;
}

.noe-footer ul{
  list-style: none;
}

.card{
  border-radius: 0;
}

.card-header:first-child{
  border-radius: 0;
}

.thumb-nail-producto img{
  width: 20%;
}

.img-principal-producto img{
  width: 100%;
}
